.mainContainerTree{
    height: 100vh;
    max-height: 100vh;
    background-color: rgba(0, 0, 0, 0.644);
    display: flex;
    margin: 0 auto;
    overflow: scroll;
}

.childContainer{
    height: 200px;
    min-width: 60px;
    width: auto;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .box{
        position: relative;
        height: 50px;
        min-width: 60px;
        width: fit-content;
        max-width: 100px;
        overflow-x:scroll;
        overflow-y: hidden;
        white-space: nowrap;
        background-color: rgba(239, 85, 85, 0.796);
        font-size: 15px;
        text-align: center;
        font-weight: 700;
        padding: 2px;
        border: 1px solid rgb(158, 134, 0);
        border-radius: 3px;
        background-color:  #226896a2;
        cursor: pointer;

        &:hover{
            background-color:  #1373b4a2;
        }
    }
    
    .ccContainer{
        height: 100px;
        width: auto;
        display: flex;
        margin: 0px 20px;
        justify-content:space-evenly;
    }
    .line{
        position: absolute;
    }
}

.contentContainerTree{
    margin: 100px auto auto;
    justify-content: center;
    display:flex;
    flex-shrink: 0;
}

@media only screen and (min-width: 600px) {
    .childContainer{
        min-width: 40px;
        margin: 2px;
        height: 170px;
        .box{
            height: 40px;
            min-width: 40px;
            max-width: 70px;
            font-size: 12px;
        }
        .ccContainer{
            margin: 0 5px;
        }
    }
}
@media only screen and (min-width: 800px) {
    .childContainer{
        height: 170px;
        min-width: 30px;
        margin: 5px;
        .box{
            height: 45px;
            min-width: 50px;
            max-width: 80px;
            font-size: 14px;
        }
        .ccContainer{
            margin: 0 10px;
        }
    }
}
@media only screen and (min-width: 1200px) {
    .childContainer{
        height: 200px;
        min-width: 60px;
        .box{
            height: 50px;
            min-width: 60px;
            max-width: 100px;
            font-size: 15px;
        }
        .ccContainer{
            margin: 0 10px;
        }
    }
}

