.kulka{
    height: 100px;
    width: 150px;
    background-color:  #0c4c77a2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    cursor: pointer;
    
}